<section class="flex flex-col gap-8">
  <!-- #region input -->
  <div class="flex gap-4 text-daBlue_100">

    <!-- ################## FIRST INPUT ################## -->
    <input #firstNumber type="number">

    <!-- ################## SECOND INPUT ################## -->
    <input #secondNumber type="number">

  </div>
  <!-- #endregion  -->
  <!-- #region Buttons -->

  <div class="flex justify-between">

    <!-- ################## ADD - BUTTON ################## -->
    <button (click)="addNumbers(+firstNumber.value, +secondNumber.value)">Add</button>

    <!-- ################## SUBSTRACT - BUTTON ################## -->
    <button (click)="substractNumbers(+firstNumber.value, +secondNumber.value)">Substract</button>

    <!-- ################## MULTIPLY - BUTTON ################## -->
    <button (click)="multiplyNumbers(+firstNumber.value, +secondNumber.value)">Multiply</button>

  </div>

  <!-- #endregion -->
  <!-- #region Result -->

  <div>The result is {{result()}}</div>

  <!-- #endregion -->
</section>
