<header>
    <div>
        <img src="assets/img/favicon.ico" alt="" srcset="">

        <p class="pl-8">DA</p>
        <p class="text-white">ngular</p>
        <p class="text-daRed pl-3 text-36 text-white">Call</p>
    </div>
    <nav class="flex gap-2 text-white ">
        <a routerLinkActive="active" routerLink="/module" class="hover:text-daRed hover:cursor-pointer">Module</a>
        <a routerLinkActive="active" routerLink="/component" class="hover:text-daRed hover:cursor-pointer">Component</a>
        <a routerLinkActive="active" routerLink="/service" class="hover:text-daRed hover:cursor-pointer">Communication</a>
        <a routerLinkActive="active" routerLink="/directive" class="hover:text-daRed hover:cursor-pointer">Directive</a>
        <a routerLinkActive="active" routerLink="/pipe" class="hover:text-daRed hover:cursor-pointer">Pipe</a>
        <a routerLinkActive="active" routerLink="/decorator" class="hover:text-daRed hover:cursor-pointer">Decorator</a>
        <a routerLinkActive="active" routerLink="/scroll" class="hover:text-daRed hover:cursor-pointer">Scroll</a>
        <a routerLinkActive="active" routerLink="/url-params" class="hover:text-daRed hover:cursor-pointer">Url-Parameter</a>
    </nav>
</header>
