<main>
  <!-- svg-animation.component.html -->
  <svg width="window.innerWidth" height="600">
    <!-- Zeichnet dynamische Kurven zwischen Keywords -->
    @for(word of keywords; track word.text; let i = $index) {

    <ng-container>
      @if(keywords[i + 1]) {
      @let end = keywords[i + 1];

      <ng-container>
        <path [attr.d]="calculatePath( end)" fill="none" class="stroke-daRed_40" stroke-width="2" stroke-dasharray="800"
          stroke-dashoffset="100">
          <animate attributeName="stroke-dashoffset" from="300" to="0" dur="1s" fill="freeze"></animate>
        </path>
      </ng-container>
      }
    </ng-container>

    <!-- Texte für die Keywords -->
    <text *ngFor="let keyword of keywords" [attr.x]="keyword.x -20" [attr.y]="keyword.y + 20" font-size="14"
      fill="white">
      {{ keyword.text }}
    </text>
    }
  </svg>

</main>
