@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'assets/scss/figtree';


body{
    margin:0;
    color: white;
    font-family: 'Figtree', sans-serif;
}

.active{
    color: #FD5B4F !important;
}
html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



@layer components {

  .btn-red{
    @apply bg-daRed_40 rounded-xl mb-2 px-4 py-2 self-end text-white
  }

  .btn-blue{
    @apply bg-[hsl(216,100%,50%)] rounded-xl mb-2 px-4 py-2 self-end text-white
  }

  .btn-green{
    @apply bg-[rgb(0,255,17)] rounded-xl mb-2 px-4 py-2 self-end text-white
  }

  .container{
    @apply w-full p-12 flex flex-wrap gap-4 overflow-y-auto h-full bg-daBlue_100 rounded-xl
  }

  .card{
    @apply flex flex-col gap-2 w-40 rounded-xl p-4 bg-white text-daBlue_90 min-h-[168px];
  }


}
